{% extends app.request.isXmlHttpRequest() ? "ajax.html.twig" : "socio/read_base.html.twig"%}

{% set page = 'create' %}
{% set title = 'Socio #' ~ socio.id %}

{% block ajax_content %}
	<div class="col-xs-12 col-sm-10 col-sm-offset-1">
		<div class="col-xs-12 col-sm-11 col-sm-offset-1">{{flashbag()}}</div>
		<div class="form-horizontal">
  		<div class="form-group">
		    <label class="col-sm-2 control-label">ESNcard</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{socio.esncard}}</p>
		    </div>
		    <label class="col-sm-2 control-label">Nombre</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{socio.nombre}}</p>
		    </div>
		    <label class="col-sm-2 control-label">Apellido</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{socio.apellido}}</p>
		    </div>
		    <label class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{socio.email}}</p>
		    </div>
		    <label class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{socio.email}}</p>
		    </div>
		    <label class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{socio.email}}</p>
		    </div>
		    <label class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{socio.email}}</p>
		    </div>
		    <label class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      <p class="form-control-static">{{socio.email}}</p>
		    </div>

		  </div>
		</form>
	</div>
{% endblock %}