{% extends 'base/base.twig' %}
{% block title %}Listado de Socios{% endblock %}
{% block head %}
  {{ parent() }}
{% endblock %}
{% block content %}
  <h1 class="page-header">Dashboard</h1>
  {% include 'flashbag.twig' %}
  {{flashbag()}}
  <h2 class="sub-header">Section title</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>#</th>
        <th>ESNcard</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>DNI</th>
        <th>E-Mail</th>
        <th>Alta</th>
      </tr>
      {% for socio in socios %}
        <tr>
          <td><a href="{{ url('read_socio', { id : socio.id }) }}">{{socio.id}}</a></td>
          <td>{{socio.esncard}}</td>
          <td>{{socio.nombre}}</td>
          <td>{{socio.apellido}}</td>
          <td>{{socio.dni}}</td>
          <td>{{socio.email}}</td>
          <td>{{socio.alta}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {{paginator(pagination,'total_paging_socio')}}
{% endblock %}
{% block scripts %}
  {{ parent() }}
{% endblock %}